@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Poppins&display=swap');

:root {
    --orange: #FC7300;
    --green: #1F8A70;
    --blue: #00425A;
    --black: #181823;
    --white: #EFF5F5;
    --grey: #d9d9d9; 
}

body {
    font-family: Poppins, Belanosima;
    margin: 0;
    background-color: var(--grey);
}

header {
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: 50% auto;
    text-align: left;
    align-items: center;
    margin: 2%;
}

header .titulo {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;    
    font-size: 1.5rem;
}

header .titulo {
    font-family: Belanosima, Popins;
    text-shadow: -1px 0 var(--white), 0 1px var(--white), 1px 0 var(--white), 0 -1px var(--white);
}

.titulo .sc {
    color: var(--blue);
}

.titulo .oo {
    color: var(--green);
}

.titulo .hl {
    color: var(--orange);
}

header .descripcion {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    font-size: 0.7rem;
}

header .menu {
    grid-column: 2/3;
    grid-row: 1/3;
    text-align: center;
}

main {
   display: flex; 
   flex-direction: column;
}

section {
    margin: 5px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
}

h1 {
    font-size: 3rem;
    margin: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    text-align: center;
    font-family: Belanosima, Popins;
    text-shadow: -1px 0 var(--white), 0 1px var(--white), 1px 0 var(--white), 0 -1px var(--white);
}

.imgsecciones {
    margin: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 0;
    border-radius: 5px;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    text-align: center;
    font-family: Popins, Belanosima;
    text-shadow: -1px 0 var(--white), 0 1px var(--white), 1px 0 var(--white), 0 -1px var(--white);
}

.psecciones {
    margin: 0;
    background-color: var(--white);
    font-size: 0.8rem;
    text-align: center;
    padding: 2%;
    border-radius: 5px;
}

footer {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 40% auto;
    height: 150px;
    align-items: start;
}

.redessociales {
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;   
}

h3 {
    margin: 0;
    font-size: 1rem;
    text-align: center;
}

.contacto {
    text-align: left;
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 0.7rem;
}

.ubicacion {
    grid-column: 2/3;
    grid-row: 1/3;
    text-align: center;
}